#coin-amount {
  text-align: center;
  font-size: 48px
}

#dark-coin-amount {
  text-align: center;
  font-size: 36px
}

#light-coin-amount {
  text-align: center;
  font-size: 36px
}

#tick-speed {
  text-align: center;
  font-size: 16px;
  color: gray;
}

td {
  width: 24px;
  height: 24px;
}

.generator {
  font-size: 24px;
  vertical-align: middle;
}

.dark-generator {
  font-size: 24px;
  vertical-align: middle;
}

.challenge {
  font-size: 24px;
  vertical-align: middle;
}

.mode-container {
  display: inline-block;
}

.accelerator {
  font-size: 24px;
  vertical-align: middle;
  color: red;

}

.level-item {
  font-size: 24px;
  vertical-align: middle;
}

button {
  border: .18em solid;
  font-size: 12px;
  width: 150px;
  height: 32px;
  background: white;
  color: black;
  border-radius: 10px;
  vertical-align: middle;
}

button:not(.unavailable) {
  cursor: pointer;
}

button.unavailable {
  background: #B0B0B0;
}

/* generator button */
.g-button {
  background: #FFFFFF;
  color: #000000;
}

.g-button.unavailable {
  background: #B0B0B0;
}

/* accelerator button */
.a-button {
  background: #000000;
  border-color: #000000;
  color: #FFFFFF;
}

.a-button.unavailable {
  background: #808080;
}

.l-button {
  width: 180px;
}

.ll-button {
  width: 240px;
}

.l-button.unavailable {
  background: #B0B0B0;
}

.ll-button.selected {
  background: #000000;
  color: #FFFFFF;
}

.tweet-config-button.selected {
  background: #000000;
  color: #FFFFFF;
}

.challenge-config-button.selected {
  background: #000000;
  color: #FFFFFF;
}


.reward-button.selected {
  background: #000000;
  color: #FFFFFF;
}

.auto-buyer-button.selected {
  background: #000000;
  color: #FFFFFF;
}

.world-button.selected {
  background: #000000;
  color: #FFFFFF;
}

.buy-type-button.selected {
  background: #000000;
  color: #FFFFFF;
}

.world-button.unavailable {
  background: #B0B0B0;
}

#reset-button {
  background: white;
  color: #D32F2F;
  border-color: #D81B6032;
  border-width: 1px;
  width: 90px;
}

#reset-button:hover {
  background: #D32F2F;
  color: white;
  width: 90px;
  transition: all .2s;
}

#tweet {
  margin: 20px 0px;
}

#tweet a {
  color: white;
  font-size: .8rem;
  padding: .6rem .8rem;
  background: #1DA1F2;
  border-radius: 3px;
  text-decoration: none;
}

[v-cloak] {
  display: none;
}
